{% extends 'base/main_style.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h1>Login</h1>

<form method="POST">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-sm6 col-md-4">
            {{ form.username|as_crispy_field }}
        </div>
     </div>

     <div class="form-row">
        <div class="form-group col-sm6 col-md-4">
            {{ form.password|as_crispy_field }}
        </div>
     </div>

    <button class="btn btn-outline-dark">Login</button>
</form>


<p> Don't have an account? <a href="{% url 'register' %}">Register</a></p>

{% endblock content %}
